body {
    font-family: "MuseoSansCyrl";
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(99, 176, 39);
}

.container {
    height: 100%;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: white;
    margin: 30px 60px;
    box-shadow: 0 0 30px #0000002e;
}

.title1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.title2 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

@media (max-width: 577px) {
    .container {
        padding: 20px 15px;
    }
    .title2 {
        font-size: 20px;
        padding: 0;
    }
}

@media (max-width: 960px) {
    .title1 {
        font-size: 20px;
    }
    .title2 {
        font-size: 20px;
    }
    
}

@media (min-width: 767px) {
    .last {
    padding-left: 73px!important;
    }
}

.icons {
    padding: 0 25px;
}

.icon {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.btn {
    background-color: rgb(124, 194, 0);
    color: white;
    width: 260px;
    font-size: 33px;
    font-weight: 900;
    color: white !important;
}

.btn:hover {
    background-color: rgb(153, 232, 17);
}
