body {
    font-family: "MuseoSansCyrl";
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(99, 176, 39);
}

.container {
    height: 100%;
    padding: 20px 50px;
    border-radius: 20px;
    background-color: white;
    margin: 30px 60px;
    box-shadow: 0 0 30px #0000002e;
}

.title1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.title2 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.last {
    padding-left: 73px;
}

.icons {
    padding: 0 25px;
}

.icon {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.btn {
    background-color: rgb(124, 194, 0);
    color: white;
    width: 260px;
    font-size: 33px;
    font-weight: 900;
    color: white !important;
}

.btn:hover {
    background-color: rgb(153, 232, 17);
}

@media only screen and (max-width: 960px) {
    .container {
        padding: 20px;
        margin: auto 15px;
    }
}

@media only screen and (max-width: 767px) {
    .imag {
        width: 220px;
    }
    .title1 {
        font-size: 18px;
    }
    .title2 {
        font-size: 20px;
    }
    .last {
        text-align: center;
        font-size: 16px;
        padding-left: 50px;
    }

    .last1 {
        font-size: 16px;
    }

    .btn {
        width: 170px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 568px) {
    .title1 {
        font-size: 17px;
        margin-bottom: 13px;
    }

    .title2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .btn {
        width: 200px;
        font-size: 20px;
    }

    .icons img {
        height: 25px;
    }

    .last1 {
        font-size: 18px;
        white-space: nowrap;
    }

    .last {
        text-align: center;
        font-size: 18px;
    }
}

@media only screen and (max-width: 470px) {
    .btn {
        width: 180px;
    }

    .last1 {
        font-size: 16px;
        white-space: nowrap;
    }

    .last {
        text-align: center;
        font-size: 16px;
    }
}

@media only screen and (max-width: 420px) {
    .btn {
        width: 160px;
    }

    .last1 {
        font-size: 15px;
        white-space: nowrap;
    }

    .last {
        padding-left: 45px;
        text-align: center;
        font-size: 15px;
    }
}

@media only screen and (max-width: 380px) {
    .btn {
        width: 140px;
    }

    .last1 {
        
        font-size: 15px;
        white-space: inherit;
    }

    .last {
        margin-top: 22px!important;
        padding-left: 34px;
    }
}

@media only screen and (max-width: 335px) {
    .btn {
        width: 130px;
        font-size: 18px;
    }

  
}

